[Unit]
Description=robTrader Web Application & Bot Orchestrator
After=network.target

[Service]
# Directorio del proyecto en el servidor de cgzlazaro
WorkingDirectory=/home/cgzlazaro/robTrader

# Archivo de variables de entorno
EnvironmentFile=/home/cgzlazaro/robTrader/.env

# Ruta al ejecutable de python dentro del venv
ExecStart=/home/cgzlazaro/robTrader/venv/bin/python app.py

# Estrategia de reinicio si el proceso falla
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
